body {
    background-color: blue;
}

h1 {

    font-size: 22px;

    font-family: Arial;

}

.emo{

    
background-color: crimson;

text-align: center;

}

.turtle{

    text-align: right;
}

.straw{
    border: solid;
    border-color: chartreuse;
    border-width: 30px;
}

a:link {

    text-decoration: none;
}